# solo nos interesa el proyecto "AlumnoEjemplos" dentro de la solución TgcViewer
# con los archivos de proyecto de VisualStudio...
*
!.gitignore
!TgcViewer.sln
!AlumnoEjemplos
!AlumnoEjemplos/*.csproj

# con la carpeta RenderGroup con nuestro código
!AlumnoEjemplos/RenderGroup
!AlumnoEjemplos/RenderGroup/*
!AlumnoEjemplos/RenderGroup/*/
!AlumnoEjemplos/RenderGroup/*/*

# y dentro de la carpeta AlumnosMedia, la carpeta RenderGroup para nuestros recursos
!AlumnoEjemplos/AlumnoMedia
!AlumnoEjemplos/AlumnoMedia/RenderGroup
!AlumnoEjemplos/AlumnoMedia/RenderGroup/*
!AlumnoEjemplos/AlumnoMedia/RenderGroup/*/ 
!AlumnoEjemplos/AlumnoMedia/RenderGroup/*/*

# una carpeta estrategia para ir armando el PDF que piden en la entrega
!AlumnoEjemplos/Estrategia
!AlumnoEjemplos/Estrategia/*

# una carpeta para nuestros datos, también obligatorio según el enunciado
!AlumnoEjemplos/GrupoInfo
!AlumnoEjemplos/GrupoInfo/*
